@import '../../styles/modules/modules.scss';

.Negotiations {

    margin-bottom: 30px;
    
    .callExpert {
        padding: 20px 25px;
        border: 1px solid $silver-chalice;

        .message {
            
            color: $ripe-plum;
            font-weight: bold;
            font-size: 1.2em;
            padding-right: 10px;
        }
        .btnContainer {
            display: block;
            margin-top: 15px;
        }
    }
    .enterOffer {
        margin-top: 25px;
        .title {
            color: $ripe-plum;
            font-weight: bold;
            font-size: 1.4em;
            margin-left: 25px;
            margin-bottom: 5px;
        }
        .errorMessage {
            color: $crimson;
            display: inline-block;
            font-weight: bold;
            font-size: 1.1em;
            height: 20px;
            margin-left: 25px;
        }
        .currencyContainer {
            position: relative;
            padding-left: 20px;

            .currency {
                color: $silver-chalice;
                font-size: 2em;
                font-weight: bold;
                position: absolute;
                top: -2px;
                left: 0;
            }

            .form-control {
                width: 100%;
                margin: 10px 0 15px;
            }
            .btn {
                width: 100%;
            }
        }
        .submitContainer {
            vertical-align: top;
            widows: 100%;

            
            button {
                font-size: 1.4em;
                width: 100%;
                margin-top: 20px;
            }
        }
    }
    @media (min-width: $screen-md-min) {
        .callExpert {
            .message { 
                display: inline-block;
                width: 60%;
            }
            .btnContainer {
                display: inline-block;
                width: 40%;
                vertical-align: top;
                text-align: right;

                .btn {
                    float: right;
                    width: auto;
                }
            }
        }
        .enterOffer {
            .currencyContainer {
                display: inline-block;
                width: 60%;
                .currency {
                    top: 5px;
                }
                .form-control {
                    //margin-left: 25px;
                    margin-bottom: 20px;
                    width: 250px;
                }
                .btn {
                    //margin-left: 25px;
                    width: auto;
                }
            }
            .submitContainer {
                width: 40%;
                display: inline-block;
                text-align: right;
                button {
                    float: right;
                    font-size: 1.4em;
                    width: auto;
                    margin-top: 0;
                }
            }
        }
        
    }

}