@import '../../styles/modules/modules.scss';

.YourResponse {
    
    .content {
        .message {
            font-size: 1.5em;
            font-weight: bold;
            color: $crimson;
            margin-bottom: 10px;
        }
        .btn {
            margin-bottom: 10px;
        }
        .dateInfo {
            font-size: .8em;
            color: $ripe-plum;
        }
    }

    @media (min-width: $screen-sm-min) {
        .btn {
            display: inline-block;
            width: 47%;
            margin-bottom: 0;
        }
        .dateInfo {
            width: 53%;
            text-align: right;
            display: inline-block;
        }
    }
}