@import '../../styles/modules/modules.scss';

.PropertyDetail {

    margin-bottom: 30px;

    .addressInfo {
        position: relative;
        vertical-align: top;

        .street {
            margin-top: 15px;
            font-weight: bold;
            font-size: 1em;
        }
    }
    .priceInfo {
        margin-top: 20px;
        border-top: 1px solid $silver-chalice;
        padding-top: 20px;

        .title {
            color: $tundora;
        }
        .price {
            font-weight: bold;
            font-size: 1.8em;
            margin: 2px 0;
        }
    }
    @media (min-width: $screen-sm-min) {
        .addressInfo {
            .street {
                display: inline-block;
                position: absolute;
                margin-top: 0;
                left: 140px;
                font-size: 1.3em;
            }
        }
    }
    @media (min-width: $screen-md-min) {
        .addressInfo {
            display: inline-block;
            width: 60%;
        }
        .priceInfo {
            display: inline-block;
            width: 40%;
            text-align: right;
            margin-top: 0;
            border-top: none;
            padding-top: 0;
        }
    }

}