@import '../../styles/modules/modules.scss';

.BuyersDetail {

    margin-bottom: 30px;
    .toggleBtn {
        cursor: pointer;
        text-align: right;
        float: right;
        font-size: .6em;
        position: relative;
        top: 8px;
        color: $flirt;
        
        .glyphicon {
            padding-left: 10px;
        }
    }
    .topic {
        color: $ripe-plum;
        display: block;
        //display: inline-block;
        //width: 145px;
        border-bottom: 1px solid $silver-chalice;
    }
    .topic-detail {
        display: inline-block;
        margin-bottom: 10px;
    }
    .topic-container {
        padding: 3px 0;
        font-size: 1.1em;
    }

    .toggle-body {
        overflow: hidden;
        
        &.active {
            height: 0;
            padding: 0;
            border-top: none;
        }
    }
    @media (min-width: $screen-sm-min) {
        .topic {
            display: inline-block;
            width: 145px;
            border-bottom: none;
        }
        .topic-detail {
            margin-bottom: 0;
        }
    }
}