@import '../../styles/modules/modules.scss';

.BuyersDetail {

    .topic {
        color: $ripe-plum;
        display: block;
        border-bottom: 1px solid $silver-chalice;
    }
    .topic-detail {
        display: inline-block;
        margin-bottom: 10px;
    }
    .topic-container {
        padding: 3px 0;
        font-size: 1.1em;
    }

    @media (min-width: $screen-sm-min) {
        .topic {
            display: inline-block;
            width: 145px;
            border-bottom: none;
        }
        .topic-detail {
            margin-bottom: 0;
        }
    }
}